name: Node.js CI

on:
  push:
    branches:
      - main
      - staging
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: npm install
        working-directory: ./app
      - run: npm run build --if-present
        working-directory: ./app
      - run: npm test
        working-directory: ./app